<%- include('partials/header'); -%>

    <div class="container-fluid">
        <div class="promotion"><h2>PROMOTION</h2></div>
    </div>
   
    
    <!--promotion 1-->
    <div class="container">
        <div class = "row pt-3 mt-2">
            <div class = "col">
                <div class="card" style="width: 18rem;">
                    <img src="https://sv1.picz.in.th/images/2020/03/27/QAnB92.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">เดบิตดี๊ดี SCB จัดให้ ซื้อตั๋วหนังเพียง 99 บาท</h5>
                      <div style="text-align: center; padding-top: 15px;">
                        <a href="#" class="btn btn-primary">READ </a>
                        <a href="#" class="btn btn-primary ml-3">USE THIS</a>
                      </div>
                    </div>
                </div>
            </div>

            <!--promotion 2-->
                <div class = "col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://sv1.picz.in.th/images/2020/03/27/QArmXE.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">ดูหนังตลอดปี Krungsri Debit Card 80 บาท ทุกเรื่อง ทุกรอบ</h5>
                        <div style="text-align: center; padding-top: 15px;">
                            <a href="#" class="btn btn-primary">READ </a>
                            <a href="#" class="btn btn-primary ml-3">USE THIS</a>
                          </div>
                        </div>
                    </div>
                </div>
           

        <!--promotion 3-->
                <div class = "col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://sv1.picz.in.th/images/2020/03/27/QA8ZO8.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"> Krungsri first choice ได้ตั๋วดูหนังในราคาพิเศษ</h5>
                        <div style="text-align: center; padding-top: 15px;">
                            <a href="#" class="btn btn-primary">READ </a>
                            <a href="#" class="btn btn-primary ml-3">USE THIS</a>
                          </div>
                        </div>
                    </div>
                </div>
            
        </div>   
    </div>

    <!--promotion 4-->
    <div class="container ">
        <div class = "row pt-3 mt-3">
            <div class = "col">
                <div class="card" style="width: 18rem;">
                    <img src="https://sv1.picz.in.th/images/2020/03/27/QAH2qR.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CIMB ดูหนังทุกเรื่อง ทุกรอบ ในราคา 80 บาท</h5>
                      <div style="text-align: center; padding-top: 15px;">
                        <a href="#" class="btn btn-primary">READ </a>
                        <a href="#" class="btn btn-primary ml-3">USE THIS</a>
                      </div>
                    </div>
                </div>
            </div>

            <!--promotion 5-->
                <div class = "col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://sv1.picz.in.th/images/2020/03/27/QAHJHE.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Citi x Lazada Credit Card ชมภาพยนตร์ฟรี!</h5>
                        <div style="text-align: center; padding-top: 15px;">
                            <a href="#" class="btn btn-primary">READ </a>
                            <a href="#" class="btn btn-primary ml-3">USE THIS</a>
                          </div>
                        </div>
                    </div>
                </div>
           

        <!--promotion 6-->
                <div class = "col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://sv1.picz.in.th/images/2020/03/27/QAVV69.png" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"> Citi Credit รับส่วนลดรับชมภาพยนตร์ สำหรับที่นั่ง VIP</h5>
                        <div style="text-align: center; padding-top: 15px;">
                            <a href="#" class="btn btn-primary">READ </a>
                            <a href="#" class="btn btn-primary ml-3">USE THIS</a>
                          </div>
                        </div>
                    </div>
                </div>
            
        </div>   
    </div>

<%- include('partials/footer'); -%>

